<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Another One Bites The Dust</title>
  <link rel="stylesheet" href="/style.css"></style>
</head>
<body>
  <div class="page">
    <h1>Another One Bites The Dust</h1>
    {{#each checkData}}
      <div class="services">
        <div class="service {{this.status}}">
          <a href="/group/{{this.group}}" class="service_name">{{this.group}}</a>
          <div class="service_status">{{this.status}}</div>
        </div>
      </div>
    {{/each}}
    <div class="last_check">Last check: {{updateTime}}</div>
  </div>
</body>
</html>